*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
    
}
.front{

            
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("background.png");
            background-position: center;
            width: 100%;
            height: 90vh;
            background-size: 1500px 1000px;
            background-repeat: no-repeat;
            background-attachment: fixed; 

    }
    .vacpix{
        position: absolute;
        top: 400px;
        left: 300px;
        width: 750px;
        height: 150px;
        margin: auto;
    }
    .logopos{
                position: relative;
    top: 100px;
    left: 592px;
    margin-left: auto;
    margin-right: auto;
    }
    .butpos{
         position: absolute;
        top: 524px;
        left: 510px;
        margin: auto;
    }
    .img-hover-zoom--quick-zoom{
  transition: transform .25s;
}
.img-hover-zoom--quick-zoom:hover{
  transform: scale(1.2);
}
    .middle{
        background-color: white;

    }
    .box{
        background-color: grey;
        margin: 5% 10%;
        height: 200px;
        width: 80%;

    }
    .r1text{
           float: left;
           width: 72%;
           height: 25%;
       }
    .r1img{
        width: 240px;
        height: 200px;
        margin-left: 58px;
         shape-outside: polygon(50% 0, 0 0, 0 0,0 50%);
    }
    .r2img{
       float: left;
       width: 240px;
        height: 200px;
     
       margin-right: 20px;
    }
    .r2text{
        padding-left: 50px;
        width: 72%;
        height: 2%;
    }
    .r3text{
        width: 72%;
        height: 2%;
      float: left;
    }
   /* .r3img{
        width: 23%;
        height: 25%;
        margin-left: 10px;
     
    }*/
    p{
        font-family: sans-serif;
    }
    .img-hover-zoom--zoom-n-rotate 
    {
  transition: transform .5s;
}
  .img-hover-zoom--zoom-n-rotate:hover{
  transform: scale(1.5) rotate(360deg);
    }
	#footer {
    /*position: absolute;*/
    background-image: url(footer.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 135px;
    animation-name: zoom;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    overflow: hidden;
    }
    @keyframes zoom{
    0% {
    transform: scale(1);
     }
   50% {
    transform: scale(1.2);
    }
    100% {
    transform: scale(1);
    }
align-content: normal;
align-items: normal;
     }

    .copyright{
        text-align: center;
        position: relative;
        top: 0px;
    height: 45px;
    line-height: 45px;
    font-family: arial;
    color: white;
    background-color: rebeccapurple;
    }
	.imgcenter{
    text-align: center;
	}
	.imgright
	{
        text-align: right;
	}
	.hvcenteredthree{
    position:absolute;
    top:50px;
    bottom:0;
    left:1300px;
    margin:auto;
}
	.hvcentered {
    position:absolute;
    top:400px;
    right:10px;
    bottom:0;
    left:-300px;
    margin:auto;
}
    .border{
  width: 1300px;
  height: 150px;
 border: 5px solid black;
  padding: 15px;
  overflow: hidden;
  background-image: url("footer.png");
  
    }
    .SHIFT1
    {
    	position:absolute;
    top:600px;
    }
    .SHIFT2{
    	position: absolute;
    	top: 815px;
    }
    .SHIFT3{
    	position: absolute;
    	top: 1030px;
    }
    .shiftfooter{
    	position: absolute;
    	top: 1250px;
    }

.img {
    animation: zoom 15;
    animation: zoom 15s alternate infinite;
    overflow: hidden;
}
.rounded{
	border-radius: 30px;
}
.position1{
position:absolute;
    top:400px;
    bottom: 0;
    left:-300px;
}
.position2{
position:absolute;
    top:400px;
    left:-100px;
}
.icon{
    font-size: 30px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 1475px;
    left: 600px;


}
.toprightbut{
    
     position: absolute;
        top: 0px;
        left: 1150px;
}
.fontrot
    {
  transition: transform .5s;
}
  .fontrot:hover{
  transform: scale(1.1) rotate(18deg);
    }

  .overflow{
    overflow-x: hidden;
    overflow-y: hidden;
  }





